@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600&display=swap');

body{
    font-size: 15px;
    background-color: rgb(175, 132, 248);
    font-family: 'Libre Franklin', sans-serif;
}
header{
    
    text-align: center;
    color: rgb(19, 11, 11);
}
section{
    
    
    height: 300;
    min-width: 300px;
    max-width: 450px;
    padding: 15px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px
    rgba(0, 0, 0, 0.314);
}

#res{
    
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(229, 218, 246);
}
.botao-adicionar{

    border-radius: 8px;
    margin-left: 3px;
    padding: 5px;
    appearance: none;
    border: none;
    background-color: rgb(175, 132, 248);
}
.botao-adicionar:hover{
    color: white;
    background-color: rgb(116, 72, 191);
    transition: 0.8s;
}
.botao-finalizar{
    margin-top: 5px;
    border-radius: 8px;
    padding: 5px;
    appearance: none;
    border: none;
    background-color: rgb(175, 132, 248);
}
.botao-finalizar:hover{
    color: white;
    background-color: rgb(116, 72, 191);
    transition: 0.8s;
}
div{
    padding: 8px;
    
}
#flista{
    
    min-width: 150px;
}

footer{
    
    height: 60px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin-top: 10px;
   
}
footer > p{
    color: black;
}
footer >  a{
    font-size: 30px;
    padding-left: 5px;
    text-decoration: none;
}

.bxl-github{
    color: black;
}
.bxl-linkedin-square{
    color: #2797CF;
    border-radius: 50%;
}
.bxl:hover{
    color: azure;
    transition: 0.3s;
}

@media screen and (max-width: 768px){
    .sc-sdee{
        margin-top: 20px;
        flex-direction: column;
    }
}







